{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block content %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">

{# <section id="icon-tabs">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
        
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                       
                                        <form method="post" class="icons-tab-steps wizard-circle">

                                            <!-- Step 1 -->
                                            
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="firstName11"><h6>nom:</h6> </label>
                                                            <input  type="text" class="form-control" name='nom' id="name">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="lastName11"><h6>prénom:</h6></label>
                                                            <input type="text" class="form-control" name='prenom' id="fname">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="emailAddress11"><h6>type d'identification:</h6></label>
                                                            <input type="text" class="form-control"  name ='typeIdenti' id="typid">
                                                        </div>
                                                    </div>
                                                    

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="location11"><h6>Numero d'identification:</h6></label>
                                                             <input type="text" class="form-control" name ='numid' id="numid">
                                                        </div>
                                                    </div>
                                                </div>
                                            

                                            <!-- Step 2 -->
                                            
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="proposalTitle11"><h6>Numero Contrat:</h6></label>
                                                            <input type="text" class="form-control"   name ='numcont' id="numcon">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="proposalTitle11"><h6>date previsionnelle:</h6></label>
                                                            <input type="date" class="form-control"   name ='datprevs' id="datepr">
                                                    </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                        <div class="form-group">
                                                            <label for="jobtitle11"><h6>adresse:</h6></label>
                                                            <input type="text" class="form-control"  name ='adresnam' id="adessid">
                                                        </div>
                                                            <label for="shortDescription11"><h6>cordonnees:</h6> </label>
                                                            <textarea   name ='cordnam' id="corid" rows="1.5" class="form-control"></textarea>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            
<button type="submit" class="btn btn-primary float-right">
         
            {{ button_label|default('Save') }}</button>
                                           
                    </form>
                </div>
             </div>
        </div>
     </div>
  </div>
 </section> #}
            
     
 <section id="icon-tabs">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
        
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                       
                                        <form method="post" class="icons-tab-steps wizard-circle">

                                            <!-- Step 1 -->
                                            
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="firstName11">nom: </label>
                                                            <input  type="text"  value="{{client.nom}}" class="form-control" name =" nom" id="name">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="lastName11">prenom:</label>
                                                            <input type="text" class="form-control" value="{{client.prenom}}"  name='prenom' id="fname">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="emailAddress11">type d'identification</label>
                                                            <input type="text"  class="form-control"   value="{{client.typeIdentification}}" name ='typeIdenti' id="typid">
                                                        </div>
                                                    </div>
                                                    

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="location11">NumeroIdentification</label>
                                                             <input type="text" class="form-control"  value="{{client.numeroIdentification}}" name ='numid' id="numid">
                                                        </div>
                                                    </div>
                                                </div>
                                            

                                            <!-- Step 2 -->
                                            
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="proposalTitle11">NumeroContrat</label>
                                                            <input type="text" class="form-control"   value="{{client.NumeroContrat}}" name ='numcont' id="numcon">
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                        <div class="form-group">
                                                            <label for="jobtitle11">adress</label>
                                                            <input type="text" class="form-control"   value="{{client.adress}}" name ='adresnam' id="adessid">
                                                        </div>
                                                            <label for="shortDescription11">cordonnee :</label>
                                                            <textarea name="cordonnee"   value="{{client.getCordonees}}"  id="corid" rows="1.5" class="form-control"></textarea>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            
                          <button type="submit" class="btn btn-primary float-right">
                
                
            {{ button_label|default('Update') }}</button>
                                           
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</section>
            
     
           



      
    

    <a href="{{ path('client_index') }}">back to list</a>
</div>
    </div></div>
    
    {# {{ include('client/_delete_form.html.twig') }} #}
{% endblock %}
