
{{ form_start(form) }}

<div class="row">
      <div class="col-12">
            <div class="card">
               <div class="card-header">
        
              </div>
           <div class="card-content">
      <div class="card-body">
            
                        
<div class="container">
 
  <ul {#style="border:1px solid skyblue; padding: 6px 12px;"##} class="nav nav-tabs"> 
    <li  onclick="f1()" style="font-size:17px;  padding: 6px 12px;" class="active"><a data-toggle="tab" href="#home">Donnees Rdv</a></li>
    <li  onclick="f1()" style="margin-left:10px;font-size:17px; padding: 6px 12px;" ><a data-toggle="tab" href="#menu1">Donnees equipement</a></li>
    <li  onclick="f1()" style="margin-left:10px;font-size:17px;padding: 6px 12px;" ><a data-toggle="tab" href="#menu1">Donnees Ligne</a></li>
    <li style="margin-left:10px;font-size:17px;padding: 6px 12px;" ><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li style="margin-left:10px;font-size:17px;padding: 6px 12px;" ><a data-toggle="tab" href="#menu1">Menu 1</a></li>
  </ul>

  <div class="tab-content">
    <div id="home hometabid" class="tab-pane fade in active show">
      <h3>add rdv</h3>

  <table class="editrdvform" style="width:100%;"> 
  <tr>
    <th>{{ form_row(form.numeroRdv)}}</th>
  </tr>
  <tr>
    <th>{{ form_row(form.rdvLigne)}}</th>
    
  </tr>
  <tr>
    <th>{{ form_row(form.rdvEqipment)}}</th>
    
  </tr>
  <tr>
    <th>{{ form_row(form.rdvPrestation)}}</th>
    
  </tr>
  
  <tr>
    <th>{{ form_row(form.rdvStatus)}}</th>
    
  </tr>

</table>
   


    </div>



<div class="tab-content">
    <div id="menu1 nouvpresid" class="tab-pane fade ">
        {{ include('equipement/_form.html.twig') }}
    </div>
    </div>
  <div id="menu1 menu1id" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>this is the content of the 2nd menu</p>
    </div><div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>this is the content of the 2nd menu</p>
    </div><div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>this is the content of the 2nd menu</p>
    </div>
   
  </div>
</div>
   
</div>
</div>
            </div>
            
            
            

            
     <button type="submit" class="btn btn-primary float-right">
                
                
            {{ button_label|default('Save') }}</button>
     </div>
            </div>      
{{ form_end(form) }}
