<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-content">
                <div class="card-body">
                        <form method="post" class="icons-tab-steps wizard-circle">
                            <label for="firstName11 ">numero de Rendez vous : </label>
                            <input  type="text "  value="{{numRdv}}"  class="form-control " name='nmrdv' id="name ">

                             <label for="firstName11">Crée par : </label>
                             <input type="text" name="nuser" class="form-control" value="{{app.user.nom}}  {{app.user.prenom}}" name='crpar' id="name">

                              <label for="lastName11">Statut :</label>
                             <input type="text" class="form-control" value="{{ 'cree'|readable_enum('RdvStatuType') }}" name='statut' id="fname"> 



                            {# <label for="emailAddress11">Date de création </label>
                            <input type="text"  name="dtcreation" class="form-control" value={{ 'now'|date( 'd-m-y') }} name='dtcria' id="typid">#}  
                             <label for="location11">client</label>
                               <fieldset class="form-group">
                                      <select class="form-control" name="client"  id="basicSelect">
                                          <option   value="" > selectionee un client </option>
                                               {% for client in clients %}
                                                     <option   value=" {{client.id}} ">{{client.nom}}  {{client.prenom}}</option>
                                </fieldset>
                                                               
                                  {% endfor %}                           
                                     </select>
                                     <label for="location11">client</label>
                               <fieldset class="form-group">
                                      <select class="form-control" name="motif" id="basicSelect">
                                               {% for motif in motifs %}
                                                     <option   value=" {{motif.id}} ">{{motif.libelle}}  </option>
                                </fieldset>
                                                               
                                  {% endfor %}                           
                                     </select>
                                     <label for="location11">zone</label>
                               <fieldset class="form-group">
                                      <select class="form-control" name="zone" id="basicSelect">
                                               {% for zone in zones %}
                                                     <option   value=" {{zone.id}} ">{{zone.libelle}}  </option>
                                </fieldset>
                                                               
                                  {% endfor %}                           
                                     </select>

                            {#<label for="location11">Prestataire</label>
                                <fieldset class="form-group">
                                      <select class="form-control" name="prestaire" id="basicSelect>
                                               {% for prestataire in prestataires %}
                                                     <option   value=" {{prestataire.id}} ">{{prestataire.nom}}</option>
                                </fieldset>
                                                               
                                  {% endfor %}
                                      </select> #}
                                                  
                              
                            <label for="jobtitle11 ">Type d'équipements :</label>
                                <fieldset class="form-group ">
                                    <select class="form-control " id="basicSelect" name="tpequipment"> 
                                          {% for tpequit in tpequits %}

                                                <option  value="{{tpequit.id}}">{{tpequit.libelle}}</option>
                                </fieldset>

                                           {% endfor %}
                                                        </select>

                              

                            <label for="lastName11">Type de ligne:</label>
                               <fieldset class="form-group">
                                    <select class="form-control" id="basicSelect" name="tpligne">
                                        {% for tpligne in tplignes %}
                                                                
                                            <option   value=" {{tpligne.id}} " > {{tpligne.libelle}} </option>
                                 </fieldset>
                                                               
                                        {% endfor %} 
                                    </select>
                            
                              
                           
                            <label for="lastName11 ">Type de prestation :</label>
                                    <fieldset class="form-group ">
                                        <select class="form-control " id="basicSelect" name ="tpprestation"> 
                                            {% for tpprestation in tpprestations %}
                                                <option  name ="tpprestation" value="{{tpprestation.id}}">{{tpprestation.libelle}}</option>
                                    </fieldset>

                                        {% endfor %}
                                    </select>
                                                
                             <label for="firstName11 ">Commentaire : </label>
                            <input  type="text " class="form-control " name='commentaire' id="cmt ">
                                                      
                         
                                            
                  

                               <button type="submit" class="btn btn-primary float-right">
                
                
                                 {{ button_label|default('Save') }}</button>
                        </form>


                </div>
            </div>
        </div>





    </div>
</div>
