{% extends 'base.html.twig' %}

{% block title %}Rdv{% endblock %}

{% block body %}
    <h1>Rdv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rdv.id }}</td>
            </tr>
            <tr>
                <th>NumeroRdv</th>
                <td>{{ rdv.numeroRdv }}</td>
            </tr>
            <tr>
                <th>Resultat</th>
                <td>{{ rdv.resultat }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ rdv.commentaire }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ rdv.prix }}</td>
            </tr>
            <tr>
                <th>ClientSatisfat</th>
                <td>{{ rdv.clientSatisfat ? 'Yes' : 'No' }}</td>
            </tr>
           {#} <tr>
                <th>Signature</th>
                <td>{{ rdv.signature }}</td>
            </tr>#}
        </tbody>
    </table>

    <a href="{{ path('rdv_index') }}">back to list</a>

    <a href="{{ path('rdv_edit', {'id': rdv.id}) }}">edit</a>

    {{ include('rdv/_delete_form.html.twig') }}
{% endblock %}