{% extends 'base.html.twig' %}

{% block title %}Rdv{% endblock %}

{% block content %}
<div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body"style="margin-top: -20px">
    <h1>Rdv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rdv.id }}</td>
            </tr>
            <tr>
                <th>NumeroRdv</th>
                <td>{{ rdv.numeroRdv }}</td>
            </tr>
            {# <tr>
                <th>Resultat</th>
                <td>{{ rdv.resultat }}</td>
            </tr> #}
            <tr>
                <th>Commentaire</th>
                <td>{{ rdv.commentaire }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ rdv.prix }}</td>
            </tr>
            {# <tr>
                <th>ClientSatisfat</th>
                <td>{{ rdv.clientSatisfat ? 'Yes' : 'No' }}</td>
            </tr> #}
           {#} <tr>
                <th>Signature</th>
                <td>{{ rdv.resultat }}</td>
            </tr>#}
        </tbody>
    </table>

    <button type="button" class="btn btn-secondary float-right " style="margin-top: 7px"><a href="{{ path('rdv_index') }}">Retour</a></button>

   {#} <button type="button" class="btn btn-secondary float-right " style="margin-top: 10px"><a href="{{ path('rdv_edit', {'id': rdv.id}) }}">Modifier</a> </button> #}
    {# <a href="{{ path('rdv_affecter', {'id': rdv.id}) }}">Affecter Prestataire</a> #}
    {{ include('rdv/_delete_form.html.twig') }}
{% endblock %}